{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
{% if variables %}
  {% set classes = variables.classes %}
{% endif %}

<div class="park-thumb" style="background: url('{{ item.icon_sizes_url.normal }}');background-size: cover;background-position: center;background-repeat: no-repeat;">

  <div class="park-thumb__content" style="">
    <div class="park-thumb__head">
      <div class="park-thumb__badge">
        {% include 'frontend/components/badge/badge.twig' with {
          badge_theme: 'park',
          badge_text: item.class_title
        } %}
      </div>
      <div class="park-thumb__feature">
        <div class="park-thumb__feature-icon">{{ Svg.icon('hpower') }}</div>
        <div class="park-thumb__feature-value">{{ item.car_power }} л.с.</div>
      </div>
    </div>
    <div class="park-thumb__center">
      <div class="park-thumb__center_title">{{ item.car_title }}</div>
      <div class="park-thumb__center_item"><strong>Класс:</strong> {{ item.class_title }}</div>
      <div class="park-thumb__center_item"><strong>Мощность:</strong> {{ item.car_power }} л.с.</div>
      <div class="park-thumb__center_item"><strong>Стоимость:</strong> 3000 р./час</div>
      <div class="park-thumb__center_button">
        <div class="button button-md">
          <div class="button__text">АРЕНДОВАТЬ</div>
        </div>
      </div>
    </div>
    <div class="park-thumb__bottom">
      <div class="park-thumb__title">{{ item.car_title }}</div>
    </div>
  </div>
</div>