{% for item in list %}

    <tr data-id="{{ item.driver_id }}">
        <td style="text-align: center" class="data_id">{{ item.driver_id }}</td>
        <td style="text-align: center">{{ item.driver_name }}</td>
        <td style="text-align: center">{{ item.driver_phone }}</td>
        <td style="text-align: center"><a href="{{ global.base_url }}/manager/taxi/cars/edit/{{ item.driver_car_id }}"></a>{{ variables.cars[item.driver_car_id].car_title }}</td>
        <td>
            <a target="_blank" href="{{ global.base_url }}/manager/taxi/drivers/edit/{{ item.driver_id  }}/" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
            <div data-value="{{ item.driver_id }}" class="btn btn-danger btn-xs delete"><i class="fa"></i></div>
        </td>
    </tr>
{% endfor %}
