{% for partner in list %}
    <tr data-id="{{ partner.partner_id }}">
        <td class="data_id">{{ partner.partner_id }}</td>
        <td >{{ partner.partner_uname }}</td>
        <td><a href="http://{{ partner.partner_site }}">{{ partner.partner_site }}</a></td>
        <td>{{ partner.partner_phone }}</td>
        <td>{{ partner.partner_coment }}</td>
        <td>{% if partner.partner_type =="organisation" %}
                Организация
            {% elseif partner.partner_type =="site_owner"%}
                Владелец сайта
            {% elseif partner.partner_type =="driver"   %}
                Водитель
            {% endif %}
        </td>
        <td>{{ partner.partner_time }}</td>

        <td>

            <a target="_blank" href="{{ global.base_url }}/manager/taxi/partners/edit/{{ partner.partner_id  }}/" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
            <div data-value="{{ partner.partner_id }}" class="btn btn-danger btn-xs delete"><i class="fa"></i></div>
        </td>
    </tr>
{% endfor %}