{% import 'frontend/elements/input/input_macro.twig' as Input %}
<div class="form-block">
  <div class="form-block__wrapper">
    <div class="form-block__blocks">
      <div class="form-block__block">
        <div class="form-block__title">Водительское удостоверение</div>
        <div class="form-block__form">
          <div class="form-block__elem form-block__elem_3">
            {{ Input.field('driver_lisence', {
              label: 'Серия',
              required: 1,
              size: 4
            }) }}
          </div>
          <div class="form-block__elem form-block__elem_3">
            {{ Input.field('driver_number', {
              label: 'Номер',
              required: 1,
              size: 6
            }) }}
          </div>
          <div class="form-block__elem form-block__elem_3">
            {{ Input.field('driver_exp', {
              label: 'Стаж'
            }) }}
          </div>
          <div class="form-block__elem form-block__elem">
            {{ Input.field('driver_cat', {
              label: 'Категория'
            }) }}
          </div>
          <div class="form-block__elem form-block__elem">
            {{ Input.field('driver_time', {
              label: 'Действует до'
            }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>